<div>

    <h5></h5>
    <div style="margin-left: 30px">

        <!--<table style="width: 100%">-->
        <table class="mynav">
            <tr style="vertical-align: middle; background-color: aliceblue; border: #bdf0ed">

                <td>
                    <table>
                        <tr>
                            <td style="width: 21px">
                                  <span class="glyphicon glyphicon-search"></span>
                            </td>
                            <td>

                                  <input type="text" class="search form-control" ng-class="{invalid: invalidSearchField()}" placeholder="Global search"
                                          ng-model="termListFilter" ng-keypress="searchKeyPressed($event)"
                                          focus-on="activation">
                                  <div ng-invalid ng-show="searchRegexError">{{searchRegexError}}</div>
                            </td>
                            <td>
                              <label class="checkbox searchMode"><input type="radio" name="searchMode" value="Default" ng-model="searchMode">
                                Default
                              </label>
                            </td>
                            <td>
                              <label class="checkbox searchMode"><input type="radio" name="searchMode" value="Glob" ng-model="searchMode">
                                Glob
                              </label>
                            </td>
                            <td>
                              <label class="checkbox searchMode"><input type="radio" name="searchMode" value="Regex" ng-model="searchMode">
                                Regex
                              </label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 100px">
                        <label style="color: #a1bfc6; font-size: small">Total: {{totalTerms}}</label>
                </td>

                <td style="width: 70px">
                        <label style="color: #a1bfc6; font-size: small" for="pageSizeEnter">Page size:</label>
                </td>
                <td style="width: 50px">
                    <input id="pageSizeEnter" type="text" class="form-control ng-valid pageSize"
                          ng-model="pageSizeEnter" ng-keypress="pageSizeKeyPressed($event)">
                </td>

                <td style="width: 100px">
                    <button type="submit" class="btn btn-default btn-xs" ng-click="showAll()">Show all</button>
                </td>

            </tr>
        </table>

        <table ng-show="termList.length > 0"
               tr-ng-grid=""
               items="termList"
               selection-mode="None"
               filter-by="termListFilter4grid"
               page-items="pageSize"
               enable-filtering="false"
        >
            <thead>
                <tr>
                    <th field-name="name"            enable-filtering="true"></th>
                    <th field-name="description"     enable-filtering="true"></th>
                    <th field-name="canonicalUnits"  enable-filtering="true" display-name="Units" style="white-space: nowrap;"></th>
                </tr>
            </thead>

            <tr>
                <td field-name="name" style="white-space: nowrap;">
                    <div ng-bind-html="gridItem.name"></div>
                </td>
                <td field-name="description">
                    <div ng-bind-html="gridItem.description"></div>
                </td>
                <td field-name="canonicalUnits">
                    <div ng-bind-html="gridItem.canonicalUnits"></div>
                </td>
            </tr>

        </table>
    </div>
</div>
