<div ng-show="termDetails.found">

    <table>
        <tr style="vertical-align: baseline">
            <td>
                <h3>{{termName}}</h3>
            </td>
        </tr>
    </table>


    <div style="margin-left: 30px">

        <table class="term">
            <tr>
                <td>Description:</td>
                <td ng-bind-html="termDetails.description"></td>
            </tr>
            <tr>
                <td>Canonical units:</td>
                <td ng-bind-html="termDetails.canonicalUnits"></td>
            </tr>
        </table>

    </div>


    <div style="margin-left: 30px">

        <h5>Links:</h5>
        <table class="links2">
            <tr>
                <td>MMI ORR:</td>
                <td>
                    <div class="btn-toolbar btn-group-xs">
                        <a class="btn btn-default fa fa-external-link" target="_blank" ng-href="{{externalLink}}">{{externalLink}}</a>
                        <a class="btn btn-default fa fa-external-link" target="_blank" ng-href="{{externalLink + '?form=rdf'}}">rdf</a>
                        <a class="btn btn-default fa fa-external-link" target="_blank" ng-href="{{externalLink + '?form=json'}}">json</a>
                        <a class="btn btn-default fa fa-external-link" target="_blank" ng-href="{{externalLink + '?form=n3'}}">n3</a>
                    </div>
                </td>
            </tr>
            <tr ng-show="nercExternalLink">
                <td>NERC:</td>
                <td>
                    <div class="btn-toolbar btn-group-xs">
                        <a class="btn btn-default fa fa-external-link" target="_blank" ng-href="{{nercExternalLink}}">{{nercExternalLink}}</a>
                        <a class="btn btn-default fa fa-external-link" target="_blank" ng-href="{{nercExternalLink}}">rdf</a>
                    </div>
                </td>
            </tr>
        </table>

    </div>


</div>

<div ng-show="!errors && !termDetails.searching && !termDetails.found">
    <h3>Inexistent standard name: <span style="color: darkred">{{termName}}</span></h3>
    <h4>
        Perform a search with this string:
        <a style="color: darkred" class="glyphicon glyphicon-search" ng-href="#/search/{{termName}}">
            {{termName}}</a>
    </h4>
</div>

<div ng-show="termDetails.searching">
    <h3>Searching ...</h3>
</div>
